.App {
  text-align: center;
  align-items: center;
}

.container {
  background-color: white;
  outline-width: 2px;
  outline-color: black;
  margin: 5% 30% 0% 30%;
  height: 600px;
}

.customer-info {
  background-color: #d1eeee;
}

body{
  background-color: #d1eeee;
}