.App {
  text-align: center;

}

.container {
  background-color: white;
  outline-width: 2px;
  outline-color: black;
  margin: 5% 30% 0% 30%;
  height: 600px;
  box-shadow: 1px 1px 8px ;
  border: 1px solid #bbe7e7;
  text-align: center;
  position: relative;
}

.buttons {
  background-color: #e0e9e7;
  display: block;
  width: 100%;
}

.customer-info{
  text-align: left;
}

.forrige-button {
  margin: 1% 2%;
}

.neste-button {
  margin: 1% 2%;
}

.customer-action {
  border-top: 1px solid;
  position: absolute;
  bottom: 5%;
  width: 100%;
}

body{
  background-color: #d1eeee;
}